@{
	ViewData["Title"] = "Product List";
}
@model List<Product>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Product List</h2>
			</div>
		</div>
	</div>

	<div class="card-body p-4">
		<div class="row pb-3">

			<div class="col-11 text-end">
				<a asp-controller="Product" asp-action="Upsert" class="btn btn-info">
					<i class="bi bi-plus-circle"></i>&nbsp; Add Product
				</a>
			</div>
		</div>
		<table id="tblData" class="table table=bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>ISBN</th>
					<th>Price</th>
					<th>Category</th>
				</tr>
			</thead>
		</table>
		</div>
		</div>

@section Scripts{
	<script src = "~/js/product.js"></script>
}