@model int

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Payment Successful</h1>
		Your Order Number is : @Model <br /><br />
		<img src="~/images/lawn_leaf.jpg" width="65%" />
	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br />
		Your Order has been placed successfully!
		<a
			asp-area="Admin"
			asp-action="Details"
			asp-route-orderId="@Model"
			class="btn btn-primary">Back to Order Details
		</a>
	</div>
</div>