@page
@model bookhub_razor.Pages.Categories.DeleteModel

<form method="post">
	<input asp-for="Category.Id" hidden>
	<div class="border mt-4 p-3">
		<div class="row pb-2">
			<h2 class="text-body-tertiary">Delete Category</h2>
			<hr />
		</div>
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="mb-3 p-1">
			<label class="p-0" asp-for="Category.Name"></label>
			<input type="text" asp-for="Category.Name" disabled class="form-control" />
		</div>
		<div class="mb-3 p-1">
			<label class="p-0" asp-for="Category.DisplayOrder"></label>
			<input type="number" asp-for="Category.DisplayOrder" disabled class="form-control" />
		</div>
		<div class="row p-1">
			<div>
				<button type="submit" class="btn btn-danger">Delete</button>
				<a asp-page="/Categories/Index" class="btn btn-info">Back</a>
			</div>
		</div>
	</div>
</form>
